*{
   font-size: 16px;
   box-sizing: border-box;
   margin: 0;

}

body{
  max-width: 430px;
  height: auto;
}

.sidebar{
    margin-top: 30px;
}

.bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.stick{
    background-color: black;
    width: 20px;
    height: 2px;
}
